In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns 
import csv
from pandas_profiling import ProfileReport

In [2]:
basic=pd.read_csv(r"C:\Users\piard\OneDrive\Documents\Projet 8\DAN-P8-donnees\BasicAndSafelyManagedDrinkingWaterServices.csv")

In [3]:
mortality=pd.read_csv(r"C:\Users\piard\OneDrive\Documents\Projet 8\DAN-P8-donnees\MortalityRateAttributedToWater.csv")

In [4]:
politicalstab=pd.read_csv(r"C:\Users\piard\OneDrive\Documents\Projet 8\DAN-P8-donnees\PoliticalStability.csv")

In [5]:
pop=pd.read_csv(r"C:\Users\piard\OneDrive\Documents\Projet 8\DAN-P8-donnees\Population.csv")

In [6]:
RÃ©gionmonde=pd.read_csv(r"C:\Users\piard\OneDrive\Documents\Projet 8\DAN-P8-donnees\RegionCountry.csv")

In [7]:
basic

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
0,2000,Afghanistan,Rural,21.61913,NaN
1,2000,Afghanistan,Total,27.77190,NaN
2,2000,Afghanistan,Urban,49.48745,NaN
3,2000,Albania,Rural,81.78472,NaN
4,2000,Albania,Total,87.86662,49.29324
...,...,...,...,...,...
10471,2017,Zambia,Total,59.96376,NaN
10472,2017,Zambia,Urban,83.86312,46.24515
10473,2017,Zimbabwe,Rural,49.80476,NaN
10474,2017,Zimbabwe,Total,64.05123,NaN
10475,2017,Zimbabwe,Urban,93.99767,NaN

In [8]:
mortality[mortality['Country']=='China']

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
102,2016,China,Female,0.65809,NaN
103,2016,China,Male,0.49931,NaN
104,2016,China,Total,0.57632,8134.223

In [9]:
politicalstab1=politicalstab.drop(columns=['Granularity'])

In [10]:
chine=politicalstab1[politicalstab1['Country'].str.contains("China")].groupby(['Year']).mean().reset_index()

In [11]:
chine

    Year  Political_Stability
0   2000               0.4375
1   2002               0.4575
2   2003               0.5375
3   2004               0.6800
4   2005               0.7000
5   2006               0.5750
6   2007               0.4025
7   2008               0.4900
8   2009               0.4250
9   2010               0.4275
10  2011               0.4775
11  2012               0.4975
12  2013               0.5025
13  2014               0.6525
14  2015               0.6550
15  2016               0.6500
16  2017               0.7225
17  2018               0.6600

In [12]:
chine1=chine.assign(Country='China')[['Country','Year','Political_Stability']]

In [13]:
chine1

   Country  Year  Political_Stability
0    China  2000               0.4375
1    China  2002               0.4575
2    China  2003               0.5375
3    China  2004               0.6800
4    China  2005               0.7000
5    China  2006               0.5750
6    China  2007               0.4025
7    China  2008               0.4900
8    China  2009               0.4250
9    China  2010               0.4275
10   China  2011               0.4775
11   China  2012               0.4975
12   China  2013               0.5025
13   China  2014               0.6525
14   China  2015               0.6550
15   China  2016               0.6500
16   China  2017               0.7225
17   China  2018               0.6600

In [14]:
politicalstab2=politicalstab1[~politicalstab1['Country'].str.contains("China")]

In [15]:
politicalstab3=pd.concat([politicalstab2,chine1],axis=0)

In [16]:
basic[basic['Country'].str.contains("China")]

,Year,Country,Granularity,Population using at least basic drinking-water services (%),Population using safely managed drinking-water services (%)
105,2000,China,Rural,70.40273,NaN
106,2000,China,Total,80.39258,NaN
107,2000,China,Urban,98.24744,93.28438
687,2001,China,Rural,70.40273,NaN
688,2001,China,Total,80.73117,NaN
...,...,...,...,...,...
9418,2016,China,Total,92.30405,NaN
9419,2016,China,Urban,97.73624,92.38606
9999,2017,China,Rural,86.15161,NaN
10000,2017,China,Total,92.84614,NaN
10001,2017,China,Urban,97.70186,92.32618

In [17]:
mortality[mortality['Country'].str.contains("China")]

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
102,2016,China,Female,0.65809,NaN
103,2016,China,Male,0.49931,NaN
104,2016,China,Total,0.57632,8134.223

In [18]:
pop1=pop[~pop['Country'].str.contains("China,")]

In [19]:
pop1

           Country Granularity  Year  Population
0      Afghanistan       Total  2000   20779.953
1      Afghanistan        Male  2000   10689.508
2      Afghanistan      Female  2000   10090.449
3      Afghanistan       Rural  2000   15657.474
4      Afghanistan       Urban  2000    4436.282
...            ...         ...   ...         ...
20909     Zimbabwe       Total  2018   14438.802
20910     Zimbabwe        Male  2018    6879.119
20911     Zimbabwe      Female  2018    7559.693
20912     Zimbabwe       Rural  2018   11465.748
20913     Zimbabwe       Urban  2018    5447.513

[20534 rows x 4 columns]

In [20]:
RÃ©gionmonde[RÃ©gionmonde['COUNTRY (DISPLAY)'].str.contains("China")]

   REGION (DISPLAY) COUNTRY (DISPLAY)
18  Western Pacific             China

In [21]:
pop1['Population']=pop1['Population'] * 1000

NumExpr defaulting to 8 threads.
<ipython-input-21-a52a7cc74235>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop1['Population']=pop1['Population'] * 1000

In [22]:
pop1

           Country Granularity  Year  Population
0      Afghanistan       Total  2000  20779953.0
1      Afghanistan        Male  2000  10689508.0
2      Afghanistan      Female  2000  10090449.0
3      Afghanistan       Rural  2000  15657474.0
4      Afghanistan       Urban  2000   4436282.0
...            ...         ...   ...         ...
20909     Zimbabwe       Total  2018  14438802.0
20910     Zimbabwe        Male  2018   6879119.0
20911     Zimbabwe      Female  2018   7559693.0
20912     Zimbabwe       Rural  2018  11465748.0
20913     Zimbabwe       Urban  2018   5447513.0

[20534 rows x 4 columns]

In [23]:
mortality

,Year,Country,Granularity,Mortality rate attributed to exposure to unsafe WASH services,WASH deaths
0,2016,Afghanistan,Female,15.31193,NaN
1,2016,Afghanistan,Male,12.61297,NaN
2,2016,Afghanistan,Total,13.92067,4824.353
3,2016,Albania,Female,0.12552,NaN
4,2016,Albania,Male,0.20650,NaN
...,...,...,...,...,...
544,2016,Zambia,Male,36.61913,NaN
545,2016,Zambia,Total,34.91273,5792.504
546,2016,Zimbabwe,Female,22.16388,NaN
547,2016,Zimbabwe,Male,27.06688,NaN
548,2016,Zimbabwe,Total,24.55074,3965.033

In [24]:
pop3=pd.pivot_table(pop1,index=['Country','Year'],columns='Granularity').reset_index()

In [25]:
pop3.columns=['Country','Year','PopF','PopM','PopR','PopT','PopU']

In [26]:
pop3

,Country,Year,PopF,PopM,PopR,PopT,PopU
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0
...,...,...,...,...,...,...,...
4349,Zimbabwe,2014,7126795.0,6459915.0,10402274.0,13586707.0,5009401.0
4350,Zimbabwe,2015,7245864.0,6568778.0,10667966.0,13814629.0,5109485.0
4351,Zimbabwe,2016,7356132.0,6674206.0,10934468.0,14030331.0,5215894.0
4352,Zimbabwe,2017,7459545.0,6777054.0,11201138.0,14236595.0,5328766.0
4353,Zimbabwe,2018,7559693.0,6879119.0,11465748.0,14438802.0,5447513.0

In [27]:
basic1=pd.pivot_table(basic,index=['Country','Year'],columns='Granularity').reset_index()

In [28]:
basic1.columns=['Country','Year','PopbasicR%','PopbasicT%','PopbasicU%','PopsafelyR%','PopsafelyT%','PopsafelyU%']

In [29]:
basic1

,Country,Year,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%
0,Afghanistan,2000,21.61913,27.77190,49.48745,NaN,NaN,NaN
1,Afghanistan,2001,21.61913,27.79726,49.48745,NaN,NaN,NaN
2,Afghanistan,2002,23.59988,29.90076,51.90447,NaN,NaN,NaN
3,Afghanistan,2003,25.58063,32.00507,54.32149,NaN,NaN,NaN
4,Afghanistan,2004,27.56138,34.12623,56.73851,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3450,Zimbabwe,2013,52.26732,65.97417,94.24335,NaN,NaN,NaN
3451,Zimbabwe,2014,51.64819,65.47338,94.18200,NaN,NaN,NaN
3452,Zimbabwe,2015,51.03139,64.98583,94.12061,NaN,NaN,NaN
3453,Zimbabwe,2016,50.41692,64.51162,94.05916,NaN,NaN,NaN
3454,Zimbabwe,2017,49.80476,64.05123,93.99767,NaN,NaN,NaN

In [30]:
basic1[basic1['Year']==2016]['PopsafelyT%'].mean()

77.93851040816325

In [31]:
mortality1=pd.pivot_table(mortality,index=['Country','Year'],columns='Granularity').reset_index()

In [32]:
mortality1.columns=['Country','Year','MortalityrateF','MortalityrateH','MortalityrateT','WASHdeathsT']

In [33]:
mortality1

,Country,Year,MortalityrateF,MortalityrateH,MortalityrateT,WASHdeathsT
0,Afghanistan,2016,15.31193,12.61297,13.92067,4824.35300
1,Albania,2016,0.12552,0.20650,0.16641,4.86975
2,Algeria,2016,2.19890,1.72837,1.86723,758.21000
3,Angola,2016,45.15024,52.62506,48.81467,14065.20000
4,Antigua and Barbuda,2016,0.10419,0.12469,0.11403,0.11513
...,...,...,...,...,...,...
178,Venezuela (Bolivarian Republic of),2016,1.36928,1.41152,1.39030,438.89230
179,Viet Nam,2016,1.13807,2.11376,1.62080,1532.77700
180,Yemen,2016,11.77016,8.66892,10.20328,2814.49500
181,Zambia,2016,33.23213,36.61913,34.91273,5792.50400
182,Zimbabwe,2016,22.16388,27.06688,24.55074,3965.03300

In [34]:
pbasic=pop3.merge(basic1,on=['Country','Year'],how='outer')

In [35]:
p_basic_political=pbasic.merge(politicalstab3,on=['Country','Year'],how='outer')

In [36]:
p_basic_political

,Country,Year,PopF,PopM,PopR,PopT,PopU,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%,Political_Stability
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0,21.61913,27.77190,49.48745,NaN,NaN,NaN,-2.44
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0,21.61913,27.79726,49.48745,NaN,NaN,NaN,NaN
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0,23.59988,29.90076,51.90447,NaN,NaN,NaN,-2.04
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0,25.58063,32.00507,54.32149,NaN,NaN,NaN,-2.20
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0,27.56138,34.12623,56.73851,NaN,NaN,NaN,-2.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Sudan,2007,NaN,NaN,NaN,NaN,NaN,39.77472,47.67023,63.79804,NaN,NaN,NaN,-2.36
4387,Sudan,2008,NaN,NaN,NaN,NaN,NaN,41.26631,49.06533,64.95785,NaN,NaN,NaN,-2.49
4388,Sudan,2009,NaN,NaN,NaN,NaN,NaN,42.75790,50.46498,66.11765,NaN,NaN,NaN,-2.65
4389,Sudan,2010,NaN,NaN,NaN,NaN,NaN,44.24949,51.86921,67.27745,NaN,NaN,NaN,-2.67
4390,Sudan,2011,NaN,NaN,NaN,NaN,NaN,45.74108,53.27780,68.43725,NaN,NaN,NaN,-2.52

In [37]:
p_basic_political['Taux de pop urbaine']=p_basic_political['PopU']/p_basic_political['PopT']

In [38]:
p_basic_political

,Country,Year,PopF,PopM,PopR,PopT,PopU,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%,Political_Stability,Taux de pop urbaine
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0,21.61913,27.77190,49.48745,NaN,NaN,NaN,-2.44,0.213489
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0,21.61913,27.79726,49.48745,NaN,NaN,NaN,NaN,0.215122
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0,23.59988,29.90076,51.90447,NaN,NaN,NaN,-2.04,0.216498
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0,25.58063,32.00507,54.32149,NaN,NaN,NaN,-2.20,0.217720
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0,27.56138,34.12623,56.73851,NaN,NaN,NaN,-2.30,0.219474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Sudan,2007,NaN,NaN,NaN,NaN,NaN,39.77472,47.67023,63.79804,NaN,NaN,NaN,-2.36,NaN
4387,Sudan,2008,NaN,NaN,NaN,NaN,NaN,41.26631,49.06533,64.95785,NaN,NaN,NaN,-2.49,NaN
4388,Sudan,2009,NaN,NaN,NaN,NaN,NaN,42.75790,50.46498,66.11765,NaN,NaN,NaN,-2.65,NaN
4389,Sudan,2010,NaN,NaN,NaN,NaN,NaN,44.24949,51.86921,67.27745,NaN,NaN,NaN,-2.67,NaN
4390,Sudan,2011,NaN,NaN,NaN,NaN,NaN,45.74108,53.27780,68.43725,NaN,NaN,NaN,-2.52,NaN

In [39]:
p_basic_political_region=p_basic_political.merge(RÃ©gionmonde,left_on='Country',right_on='COUNTRY (DISPLAY)',how='outer')

In [40]:
p_basic_political_region=p_basic_political_region.drop(columns='COUNTRY (DISPLAY)')

In [41]:
p_basic_political_region

,Country,Year,PopF,PopM,PopR,PopT,PopU,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%,Political_Stability,Taux de pop urbaine,REGION (DISPLAY)
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0,21.61913,27.77190,49.48745,NaN,NaN,NaN,-2.44,0.213489,Eastern Mediterranean
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0,21.61913,27.79726,49.48745,NaN,NaN,NaN,NaN,0.215122,Eastern Mediterranean
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0,23.59988,29.90076,51.90447,NaN,NaN,NaN,-2.04,0.216498,Eastern Mediterranean
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0,25.58063,32.00507,54.32149,NaN,NaN,NaN,-2.20,0.217720,Eastern Mediterranean
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0,27.56138,34.12623,56.73851,NaN,NaN,NaN,-2.30,0.219474,Eastern Mediterranean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Republic of North Macedonia,2013,NaN,NaN,NaN,NaN,NaN,96.63789,93.17531,90.58327,80.46894,85.88801,89.94465,NaN,NaN,Europe
4387,Republic of North Macedonia,2014,NaN,NaN,NaN,NaN,NaN,96.63789,93.16956,90.58327,77.55013,84.65021,89.94465,NaN,NaN,Europe
4388,Republic of North Macedonia,2015,NaN,NaN,NaN,NaN,NaN,96.63789,93.16205,90.58327,74.63132,83.42240,89.94465,NaN,NaN,Europe
4389,Republic of North Macedonia,2016,NaN,NaN,NaN,NaN,NaN,96.63789,93.15266,90.58327,71.71252,82.20748,89.94465,NaN,NaN,Europe
4390,Republic of North Macedonia,2017,NaN,NaN,NaN,NaN,NaN,96.63789,93.14146,90.58327,68.79372,81.00796,89.94465,NaN,NaN,Europe

In [42]:
p_basic_political_region_mortality=p_basic_political_region.merge(mortality1,on=['Country','Year'],how='outer')

In [43]:
p_basic_political_region_mortality

,Country,Year,PopF,PopM,PopR,PopT,PopU,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%,Political_Stability,Taux de pop urbaine,REGION (DISPLAY),MortalityrateF,MortalityrateH,MortalityrateT,WASHdeathsT
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0,21.61913,27.77190,49.48745,NaN,NaN,NaN,-2.44,0.213489,Eastern Mediterranean,NaN,NaN,NaN,NaN
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0,21.61913,27.79726,49.48745,NaN,NaN,NaN,NaN,0.215122,Eastern Mediterranean,NaN,NaN,NaN,NaN
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0,23.59988,29.90076,51.90447,NaN,NaN,NaN,-2.04,0.216498,Eastern Mediterranean,NaN,NaN,NaN,NaN
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0,25.58063,32.00507,54.32149,NaN,NaN,NaN,-2.20,0.217720,Eastern Mediterranean,NaN,NaN,NaN,NaN
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0,27.56138,34.12623,56.73851,NaN,NaN,NaN,-2.30,0.219474,Eastern Mediterranean,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Republic of North Macedonia,2013,NaN,NaN,NaN,NaN,NaN,96.63789,93.17531,90.58327,80.46894,85.88801,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4387,Republic of North Macedonia,2014,NaN,NaN,NaN,NaN,NaN,96.63789,93.16956,90.58327,77.55013,84.65021,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4388,Republic of North Macedonia,2015,NaN,NaN,NaN,NaN,NaN,96.63789,93.16205,90.58327,74.63132,83.42240,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4389,Republic of North Macedonia,2016,NaN,NaN,NaN,NaN,NaN,96.63789,93.15266,90.58327,71.71252,82.20748,89.94465,NaN,NaN,Europe,0.05756,0.09112,0.07433,1.54705
4390,Republic of North Macedonia,2017,NaN,NaN,NaN,NaN,NaN,96.63789,93.14146,90.58327,68.79372,81.00796,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN

In [44]:
p_basic_political_region_mortality.to_excel('pop_basic_political_region_mortality.xlsx')

In [45]:
p_basic_political_region_mortality

,Country,Year,PopF,PopM,PopR,PopT,PopU,PopbasicR%,PopbasicT%,PopbasicU%,PopsafelyR%,PopsafelyT%,PopsafelyU%,Political_Stability,Taux de pop urbaine,REGION (DISPLAY),MortalityrateF,MortalityrateH,MortalityrateT,WASHdeathsT
0,Afghanistan,2000,10090449.0,10689508.0,15657474.0,20779953.0,4436282.0,21.61913,27.77190,49.48745,NaN,NaN,NaN,-2.44,0.213489,Eastern Mediterranean,NaN,NaN,NaN,NaN
1,Afghanistan,2001,10489238.0,11117754.0,16318324.0,21606988.0,4648139.0,21.61913,27.79726,49.48745,NaN,NaN,NaN,NaN,0.215122,Eastern Mediterranean,NaN,NaN,NaN,NaN
2,Afghanistan,2002,10958668.0,11642106.0,17086910.0,22600770.0,4893013.0,23.59988,29.90076,51.90447,NaN,NaN,NaN,-2.04,0.216498,Eastern Mediterranean,NaN,NaN,NaN,NaN
3,Afghanistan,2003,11466237.0,12214634.0,17909063.0,23680871.0,5155788.0,25.58063,32.00507,54.32149,NaN,NaN,NaN,-2.20,0.217720,Eastern Mediterranean,NaN,NaN,NaN,NaN
4,Afghanistan,2004,11962963.0,12763726.0,18692107.0,24726684.0,5426872.0,27.56138,34.12623,56.73851,NaN,NaN,NaN,-2.30,0.219474,Eastern Mediterranean,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4386,Republic of North Macedonia,2013,NaN,NaN,NaN,NaN,NaN,96.63789,93.17531,90.58327,80.46894,85.88801,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4387,Republic of North Macedonia,2014,NaN,NaN,NaN,NaN,NaN,96.63789,93.16956,90.58327,77.55013,84.65021,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4388,Republic of North Macedonia,2015,NaN,NaN,NaN,NaN,NaN,96.63789,93.16205,90.58327,74.63132,83.42240,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN
4389,Republic of North Macedonia,2016,NaN,NaN,NaN,NaN,NaN,96.63789,93.15266,90.58327,71.71252,82.20748,89.94465,NaN,NaN,Europe,0.05756,0.09112,0.07433,1.54705
4390,Republic of North Macedonia,2017,NaN,NaN,NaN,NaN,NaN,96.63789,93.14146,90.58327,68.79372,81.00796,89.94465,NaN,NaN,Europe,NaN,NaN,NaN,NaN